body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.contactForm {
  border: dotted;
  width: 80%;
  margin-bottom: 1%;
  padding: 1%;
}

.contactFormForm {
  border: dotted;
  width: 80%;
  margin-bottom: 3%;
  padding: 1%;
}

.contactFormMessageForm {
  border: dotted;
  width: 87%;
  padding: 2%;
  margin-top: 3%;
}

input, textarea {
  width: 80%;
}

.hidden {
  display: none;
}

.pendingBox {
  border: 2px solid orange;
}

.resultErrorBox {
  border: 2px solid red;
}

.resultSuccessBox {
  border: 2px solid green;
}

.pendingBox, .resultErrorBox, .resultSuccessBox {
  border-radius: 5px;
  margin-top: 2%;
  overflow-wrap: break-word;
  padding: 2%;
}
